<html>
    <head>
        <style>
            h1 {
                color:rgb(79, 225, 225);
        text-align:center;
        text-decoration: underline;
            }
            .ratakanan {
                color: rgb(57, 1, 47);
            }
        </style>
        <link rel="stylesheet" href="mystyle.css">

        <title>

        </title>
    </head>
    <body>
        <!--CSS Inline-->
        <h1 style="
        color:rgb(230, 80, 98);
        text-align:center;
        text-decoration: underline;">This is a heading</h1>
        <H2>Hallo apa kabar <br></H2>
        <H3>Hallo apa kabar <br></H3>
        <H4>Hallo apa kabar <br></H4>
        <div class="ratakanan kotaku1">Harga : Rp. 35.000 Z</div> <br>
        <div class="ratakanan" style="color: greenyellow"> Diskon Besar</div>
    </body>
</html>